*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}
.topo {
    width: 100%;
    height: 95px;
    background-color: red;
    color: white;
}

.titulo-app {
    padding: 15px;
    margin-left: 10px;
}

.titulo-secao {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
}

.pratos {
    width: 100%;
    height: 210px;
    display: flex;
    overflow: scroll;
}

.prato {
    width: 135px;
    height: 210px;
    margin-left: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    border-image: initial;
}

.prato img{
    width: 100%;
}

.descricao {
    line-height: 30px;
}